<!-- Choose Car -->

<div id="offers">
    <div class="title">
        <h5>what we offer</h5>
        <h1>Choose Your Car</h1>
    </div>
    <div class="container-fluid">
        <div id="cars" class="row mt-2 mb-5">
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">
                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Details</a>

                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
                             style="background-color: rgba(0, 0, 0,.3); backdrop-filter: blur(8px);">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
                                        <span class="close" data-dismiss="modal" style="color: black;cursor: pointer;">
                                            <span aria-hidden="true">&times;</span>
                                        </span>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <a data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="images/cars/car-1.jpg" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">Mercedes Grand Sedan</h5>
                    <span class="">Mercedes</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Car End -->