@using AutoRoad.MVC.DTOs;
@model List<BrandDto>  
<!-- Car list -->
<div class="container pt-5 pb-5">
    <div id="cars" class="row mb-5">
        @{
            int i = 0;
         }

        @foreach(var car in Model)
        {
            

            <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                <div>
                    <img src="@car.Models[i].Photo" alt="">

                    <!-- <div>
                      <span> $25</span>
                      <p><span>from</span> <span>/day</span></p>
                    </div> -->

                </div>
                <div class="d-flex flex-column align-items-center">
                    <h5 class="mt-3">@car.Models[i].Name</h5>
                    <span class="">@car.Name</span>
                    <div class="mt-3">
                        <a href="#">Book now</a>
                        <a href="#" data-toggle="modal" data-target="#exampleModalCenter">Details</a>

                        <!-- Button trigger modal -->
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalCenterTitle" aria-hidden="true"
                             style="background-color: rgba(0, 0, 0,.3); backdrop-filter: blur(8px);">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Details</h5>
                                        <span class="close" data-dismiss="modal" style="color: black;cursor: pointer;">
                                            <span aria-hidden="true">&times;</span>
                                        </span>
                                    </div>
                                    <div class="modal-body">
                                        ...
                                    </div>
                                    <div class="modal-footer">
                                        <a data-dismiss="modal">Close</a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

            i++;
        }
    </div>

    <div style="display: flex;justify-content: center;">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> < </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"> > </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Car list end -->
