@using AutoRoad.MVC.DTOs;
@model List<CarDto>
<!-- Car list -->
<div class="container pt-5 pb-5">
    <div id="cars" class="row mb-5">
       

        @foreach(var car in Model)
        {
            
         
                <div class="car col-xl-3 col-lg-3 col-md-6 col-12 mt-5">
                    <div>
                        <img src="@car.Photo" alt="">
                    </div>

                    <div class="d-flex flex-column align-items-center">
                        <h5 class="mt-3">@car.ModelName</h5>
                        <span class="">@car.BrandName</span>
                        <div class="mt-3">
                            <a href="#">Book now</a>
                            <a href="#" data-toggle="modal" data-target="#exampleModalCenter" class="btn_car_dtl" data-id="@car.CarId">Details</a>

                            <!-- Button trigger modal -->
                            <!-- Modal -->
                        <div id="car_detail_modal"></div>
     
                        </div>
                    </div>
                </div>

            
        }
    </div>

    <div style="display: flex;justify-content: center;">
        <nav aria-label="...">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"> < </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#"> > </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<!-- Car list end -->
