 <!-- banner -->

<div id="banner-ourcar">

    <div class="container">
        <div style="display: flex;position: absolute;bottom: 10%;border-left:5px solid  #FC983C;height: 50px;align-items: center;padding-left:10px ;">
            <!-- <div style="background-color: #FC983C;width: 5px;height: 50px;"></div> -->
            <h1 style="color: white;font-size: 50px;font-family: PoppinsMedium;margin: 0;">Choose Your Car</h1>
        </div>
    </div>

</div>
<!-- Banner end -->