  <!-- Banner -->

<div id="banner">

    <div class="container">
        <div id="ban-title">

            <h1>
                Now
                <span>It's easy for you</span>
                <span>rent a car</span>
            </h1>
            <p>
                A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
                paradisematic country, in which roasted parts
            </p>

            <div>
                <a href="https://www.youtube.com/watch?v=PmVTFtwadzM" target="_blank">
                    <div id="circle-video">
                        <i class="fa-solid fa-play"></i>
                    </div>
                </a>

                <p>Easy steps for renting car</p>
            </div>


        </div>
    </div>

</div>
<!-- Banner end -->